[submodule "booking-service"]
	path = booking-service
	url = https://github.com/unikdahal/booking-service.git
	branch = main
[submodule "payment-service"]
	path = payment-service
	url = https://github.com/unikdahal/payment-service.git
	branch = main
[submodule "movie-services-registry"]
	path = movie-services-registry
	url = https://github.com/unikdahal/movie-services-registry.git
	branch=main
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/unikdahal/notification-service.git
	branch=main
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/unikdahal/api-gateway.git
